@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.check-in-button {
    background-color:#EBF6F8;
    color: #00b5b8;
    border: #00b5b8 solid 2px;
    height: 34px;
    width: 130px;
    text-align: center;
    display: flex;
    border-radius:30px;
    cursor:pointer;
    transition: 0.3s;
    margin-left:120px;
    position: absolute;
    margin-top: 10px;
}

.check-in-background {
    background-color:white;
    color: #00b5b8;
    border: #00b5b8 solid 2px;
    height: 34px;
    width: 156px;
    text-align: center;
    display: flex;
    border-radius:30px;
    transition: 0.3s;
    margin-left:120px;
    position: absolute;
    margin-top: 10px;
}

.check-in-time {
    width:110px;
    text-align:center;
}

.check-in-text {
    font-size:17px;
    margin: auto;
    font-weight:500;
}

.green-point {
    border: 0;
    border-radius: 10px;
    height: 10px;
    width: 10px;
    margin-left: -7%;
    margin-bottom: -15%;
    background: rgba(51, 217, 178, 1);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
    animation: pulse-green 2s infinite;
    animation-timing-function: ease-in;
    visibility: hidden;
}

@keyframes pulse-green {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
    }
}


.tooltip-inner {
  width: 350px !important;
  font-size: 20px;
  font-family: "Montserrat", Georgia, "Times New Roman", Times, serif;
  padding: 10px 15px 10px 15px;
  margin-top: 5px;
  background: #404e67;
  text-align: center;
  border-radius: 10px;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #404e67;
  margin-bottom: -5px;
  margin-left: 39px;
}

.tooltip.show {
  opacity: 1;
}

.hr-tooltip {
  height: 1px;
  border: none;
  color: white;
  background-color: white;
  margin-top: -7px;
}

.title-tooltip {
  font-weight:500;
}

.arrow-tooltip {
  padding-left: 1%;
  padding-right: 1%;
}