{% load static %}

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/vendors.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/extensions/toastr.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/tables/datatable/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/tables/extensions/rowReorder.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/tables/extensions/responsive.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/forms/icheck/icheck.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/forms/icheck/custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/extensions/sweetalert2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/forms/selects/select2.min.css' %}">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-extended.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/colors.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/components.css' %}">
    <!-- END: Theme CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/core/menu/menu-types/vertical-menu-modern.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/core/colors/palette-gradient.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/plugins/extensions/toastr.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pages/app-contacts.css' %}">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/apps/users.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/apps/calendar/calendar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/apps/calendar/mini_calendar.css' %}">
    <!-- END: Custom CSS-->
