/* Kanban Board Application css */
/*------------------------------*/
.kanban-container {
  min-width: auto;
  width: 287px; }
  .kanban-container .kanban-board {
    border-radius: 0.25rem;
    padding: 1rem 0rem;
    margin: 0 1.8rem 1rem 0 !important;
    width: 18.67rem !important;
    background-color: #e7edf3; }
    .kanban-container .kanban-board .kanban-board-header {
      /* kanban-header */
      font-size: 1.2rem;
      font-family: "Montserrat", Georgia, "Times New Roman", Times, serif;
      color: #404e67;
      padding: 0 0.93rem;
      display: flex;
      justify-content: space-between; }
      .kanban-container .kanban-board .kanban-board-header .dropdown {
        float: right; }
        .kanban-container .kanban-board .kanban-board-header .dropdown .dropdown-toggle:after {
          display: none; }
      .kanban-container .kanban-board .kanban-board-header .kanban-title-board {
        /* kanban title */
        font-weight: normal;
        cursor: text;
        padding: 0 0.5rem;
        width: 200px; }
        .kanban-container .kanban-board .kanban-board-header .kanban-title-board:hover, .kanban-container .kanban-board .kanban-board-header .kanban-title-board:focus {
          background-color: #404e67;
          color: #fff;
          border-radius: 0.25rem;
          outline: none;
          text-overflow: clip; }
      .kanban-container .kanban-board .kanban-board-header .kanban-title-button {
        /* kanban title button */
        position: absolute;
        bottom: 0;
        padding: 0.467rem 0rem;
        display: block;
        color: #404e67;
        font-weight: 700;
        font-size: 0.8rem; }
    .kanban-container .kanban-board .kanban-drag {
      padding: 13px 13px 0px 13px;
      min-height: auto; }
    .kanban-container .kanban-board .kanban-item {
      /* kanban item */
      padding: 0.53rem 0.8rem;
      border-radius: 0.25rem;
      margin-bottom: 1rem;
      box-shadow: -4px 4px 6px 0 rgba(55, 70, 95, 0.12);
      position: relative; }
      .kanban-container .kanban-board .kanban-item:before {
        content: "";
        width: 3px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 0.5rem; }
      .kanban-container .kanban-board .kanban-item:hover {
        cursor: default; }
      .kanban-container .kanban-board .kanban-item:last-child {
        margin-bottom: 0.5rem; }
      .kanban-container .kanban-board .kanban-item .kanban-image img {
        border-radius: 0.25rem; }

.kanban-overlay {
  /* kanban overlay */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 999;
  visibility: hidden;
  opacity: 0; }
  .kanban-overlay.show {
    visibility: visible;
    transition: all .3s ease;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2); }

.badge-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E6EAEE;
  color: #475F7B;
  border-radius: 50%;
  height: 30px;
  width: 30px; }

.avatar img {
  border: 2px solid #fff; }

.kanban-sidebar {
  /* kanban sidebar */
  box-shadow: -8px 0 18px 0 rgba(25, 42, 70, 0.13);
  height: calc(var(--vh, 1vh) * 100);
  width: 23.8rem;
  background-color: #fff;
  position: fixed;
  transform: translateX(110%);
  transition: all .3s ease;
  z-index: 1050;
  right: 2rem;
  left: auto;
  bottom: 0;
  top: -1px;
  opacity: 0;
  overflow: hidden; }
  .kanban-sidebar .card-header .close-icon {
    color: #404e67;
    opacity: 1 !important; }
    .kanban-sidebar .card-header .close-icon:focus {
      outline: none; }
  .kanban-sidebar.show {
    opacity: 1;
    transform: translateX(9%) translateY(1px); }
  .kanban-sidebar .edit-kanban-item {
    height: calc(var(--vh, 1vh) * 100); }
    .kanban-sidebar .edit-kanban-item .card-content {
      height: calc(100% - 9rem); }
      .kanban-sidebar .edit-kanban-item .card-content .form-group > label {
        color: #bac0c7;
        margin-bottom: 0.67rem; }
      .kanban-sidebar .edit-kanban-item .card-content .form-group select {
        border-radius: 0.25rem;
        display: block; }
      .kanban-sidebar .edit-kanban-item .card-content .custom-file .custom-file-label:after {
        background-color: transparent; }
    .kanban-sidebar .edit-kanban-item .card-footer .btn i {
      top: 0; }
    .kanban-sidebar .edit-kanban-item .picker {
      position: relative; }
  .kanban-sidebar .quill-wrapper .snow-container .ql-snow,
  .kanban-sidebar .quill-wrapper .snow-container .ql-toolbar {
    border: none; }
  .kanban-sidebar .quill-wrapper .snow-container .ql-toolbar .btn {
    width: auto;
    line-height: 0.9;
    padding: 0.467rem 1.2rem; }
    .kanban-sidebar .quill-wrapper .snow-container .ql-toolbar .btn:hover {
      color: #fff; }
  .kanban-sidebar .quill-wrapper .snow-container .ql-tooltip {
    left: 0 !important; }
    .kanban-sidebar .quill-wrapper .snow-container .ql-tooltip input[type=text] {
      width: 100px; }
  .kanban-sidebar .quill-wrapper .ql-editor.ql-blank::before {
    left: 0.3rem; }
  .kanban-sidebar .quill-wrapper .ql-editor {
    min-height: 7.93rem;
    padding: 0; }

@media (max-width: 420px) {
  .kanban-sidebar {
    width: 19rem;
    right: 1.6rem; }
    .kanban-sidebar .quill-wrapper .snow-container .ql-tooltip input[type=text] {
      width: 70px; } }

.board {
  width: 30%;
  height: 200px;
  float: left;
  margin-top: 2%;
  margin-left: 2%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-n {
  font-family: 'Montserrat';
  font-size: 22px;
  color: #4A5151;
  font-weight: bold;
}

.btn-board {
  margin-left: 1.4%;
}

.invitation-list {
  border: 1px solid #E6E6E6;
  padding: .8rem 1rem .4rem .5rem; 
}

.invitation-user {
  font-family: 'Montserrat';
  font-weight: 500;
  margin-left: 5%;
}

.invitation-avatar {
  margin-left: -45px;
  margin-right: 0%;
  margin-top: -5px;
}

.board-avatar {
  margin-top: 4px;
  margin-left: 9px;
  margin-right: -6px;
}

.menu-board {
  color: #4A5151;
  margin-bottom: 5%;
  font-size: 15px;
}

.board-name {
  outline: 0px solid transparent;
  font-size: 18px;
  color: #4A5151;
  margin-top: 11px;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: bold;
}

.member-info {
  border: 1px solid #E6E6E6;
  padding: .8rem 1rem .4rem .5rem; 
}

.member-user {
  font-family: 'Montserrat';
  font-weight: 500;
  margin-left: 5%;
}

.member-avatar {
  margin-left: -45px;
  margin-right: 0%;
  margin-top: -5px;
}

.div-members-main {
  position: absolute;
  will-change: transform;
  transform: translate3d(23px, 24px, 0px);
  width:250px;
  height:300px;
  margin-left:83%;
  margin-top:13%;
  background-color:#F9F9F9;
  border: 1px solid #e6e6e6;
  border-radius: 0 0 0.25rem 0.25rem;
  transform-origin: top;
  animation-fill-mode: forwards;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
  z-index: 9999999;
}

.div-deadline-main {
  position: absolute;
  will-change: transform;
  transform: translate3d(23px, 24px, 0px);
  width:260px;
  height:210px;
  margin-left:83%;
  margin-top:31%;
  background-color:#F9F9F9;
  border: 1px solid #e6e6e6;
  border-radius: 0 0 0.25rem 0.25rem;
  transform-origin: top;
  animation-fill-mode: forwards;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
  z-index: 9999999;
}

.div-labels-main {
  position: absolute;
  will-change: transform;
  transform: translate3d(23px, 24px, 0px);
  width:260px;
  min-height:295px;
  margin-left:83%;
  margin-top:22%;
  background-color:#F9F9F9;
  border: 1px solid #e6e6e6;
  border-radius: 0 0 0.25rem 0.25rem;
  transform-origin: top;
  animation-fill-mode: forwards;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
  z-index: 9999999;
}

.right-menu:hover {
  color: #008385;
  text-decoration: none;
}

.state-green {
  border-radius: 5px;
  color: white;
  background-color: #77D797;
}

.state-yellow {
  border-radius: 5px;
  color: black;
  background-color: #EDFB09;
}

.state-red {
  border-radius: 5px;
  color: white;
  background-color: #F55F5F;
}

.dataCard-deadline_date {
  width: 147px;
  outline: 0px solid transparent;
  border: none;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
}

.dataCard-deadline_hour {
  outline: 0px solid transparent;
  border: none;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
}

.labels {
  border: none;
  height: 25px;
  border-radius: 5px;
  outline: 0px solid transparent;
  width: 180px;
  font-weight: bold;
  margin-left: 6%;
  margin-bottom: 2%;
}

.labels:hover {
  border: none;
  height: 25px;
  border-radius: 5px;
  outline: 0px solid transparent;
  width: 210px;
  margin-left: 6%;
  font-weight: bold;
  margin-bottom: 2%;
  transition: width 0.5s;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 55%);
}

.label-new_name {
  border: none;
  height: 25px;
  border-radius: 5px;
  outline: 0px solid transparent;
  width: 222px;
  margin-left: 6%;
  font-weight: bold;
}

.mini-labels {
  float: left;
  margin-right: 1%;
  min-width: 40px;
  width:auto;
  height:30px;
  border-radius: 5px;
  border: none;
  outline: 0px solid transparent;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2%;
}

.dragging_card {
  opacity: .6;
}

.dragging_list {
  opacity: .6;
}

.selected {
  transform: scale(1.02) rotate(-1deg);
}

/* Media Query para distintos tamaños de pantalla */
@media (max-height: 750px) {
  .kanban-cards {
    height: auto;
    max-height: 390px;
    overflow: auto;
  }
}

@media (max-height: 700px) {
  .kanban-cards {
    height: auto;
    max-height: 290px;
    overflow: auto;
  }
}

.mini-label {
  float: left;
  margin-right: 1%;
  min-width: 40px;
  width:auto;
  height:30px;
  border-radius: 5px;
  border: none;
  outline: 0px solid transparent;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2%;
}

.month-quantity {
  height: 40px;
  background-color: #4a5151;
  color: white;
  border-radius: 4px;
  width: 90px;
  border-color: #4a5151;
  outline:none;
}

.big-block {
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 2%;
}