.link-list>div{
    cursor: pointer;
}
.link-list>div>a:hover{
    background-color: #009c9f;
    color: #fff;
    transition: all 0.5s ease;
}
.link-list>div>a[active=1]{
    background-color: #009c9f !important;
    color: #fff !important;
}
.link-list>div>a[active=0]{
    background-color: #fff !important;
    color: #009c9f !important;
}
.link-list>div>a[active=1]:hover{
    color: #fff;
}
section.product-view-forms>div{
    overflow: hidden hidden;
}

.unselect-text{
    user-select: none;
}