.link-row{
    padding:30px;
    padding-bottom:0;
    border-top: 0.5px solid lightgrey;
    justify-content:space-between;
}

.link-row>div{
    text-align:center;
}

.link-row>div>a>i{
    text-align:center;
    width: 50px;
    background: whitesmoke;
    padding:10px;
    border-radius: 50%;
}

.link-avaliable{
    color:#4181f2 !important;
}

.link-not-avaliable{
    color: grey !important;
}

.link-row>div>a>i:hover{
    -webkit-box-shadow: 0px 0px 20px 3px rgba(110, 110, 110, 0.5), inset 0px 0px 22px 5px rgba(0,0,0,0.1); 
    box-shadow: 0px 0px 20px 3px rgba(110, 110, 110, 0.5), inset 0px 0px 22px 5px rgba(0,0,0,0.1); 
    transition: all 500ms ease;
}

#btnSearchDrop2:focus{
    border-radius: 50%;
    background-color: grey;
    color: whitesmoke;
}

input.form-control-plaintext::placeholder{
    float: right;
}

input.form-control-plaintext:focus{
    outline: 0px;
}

.prof-visit-body{
    border-radius: 10%;
}

.prof-visit-body>h6{
    text-align:left;
    width:100%;
    padding:3px;
}

.prof-visit-footer>h5{
    margin-top: 10px;
    color: #4181f2;
}

.prof-visit-footer>h5,.prof-visit-footer>h6{
    padding: 3px;
}

/* width */
div::-webkit-scrollbar {
width: 10px;
}

/* Track */
div::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
div::-webkit-scrollbar-thumb {
background: #888; 
border-radius: 8px;
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
background: #555; 
}