{% load static %}


<!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-md-12 col-10 p-0">
                            <div class="">
                                <div class="card-body text-center">
                                    <span class="card-title text-center">
                                        <img src="{% static 'images/mantenimiento/mantenimiento.png' %}" style="width:40%;" class="img-fluid mx-auto d-block pt-2" alt="logo">
                                    </span>
                                </div>
                                <div class="card-body text-center">
                                    <h2>Sitio en Mantenimiento,</h2>
                                    <h4>Disculpa las molestias</h4>
                                    <br>
                                    <div class="mt-2"><i class="fa fa-cog spinner font-large-2"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- END: Content-->