{% load static %}

    <!-- BEGIN: Vendor JS-->
    <script src="{% static 'vendors/js/vendors.min.js' %}"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="{% static 'vendors/js/tables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendors/js/extensions/jquery.raty.js' %}"></script>
    <script src="{% static 'vendors/js/tables/datatable/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'vendors/js/tables/datatable/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'vendors/js/tables/datatable/dataTables.rowReorder.min.js' %}"></script>
    <script src="{% static 'vendors/js/forms/icheck/icheck.min.js' %}"></script>
    <script src="{% static 'vendors/js/extensions/toastr.min.js' %}"></script>
    <script src="{% static 'vendors/js/extensions/sweetalert2.all.min.js' %}"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="{% static 'js/core/app-menu.js' %}"></script>
    <script src="{% static 'js/core/app.js' %}"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="{% static 'js/scripts/extensions/toastr.js' %}"></script>
    <script src="{% static 'js/scripts/extensions/sweet-alerts.js' %}"></script>
    <script src="{% static 'js/scripts/extensions/sweet-alerts.min.js' %}"></script>
    <!-- END: Page JS-->

    <!-- BEGIN: AJAX JS-->
    <script src="{% static 'js/apps/users/invitations.js' %}"></script>
    <!-- END: AJAX JS-->