{% load static %}

<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css" href="{% static 'vendors/css/vendors.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendors/css/extensions/toastr.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendors/css/forms/icheck/icheck.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendors/css/forms/icheck/custom.css' %}">
<!-- END: Vendor CSS-->

<!-- BEGIN: Theme CSS-->
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-extended.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/colors.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/components.css' %}">
<!-- END: Theme CSS-->

<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css" href="{% static 'css/core/menu/menu-types/vertical-menu-modern.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/core/colors/palette-gradient.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/plugins/extensions/toastr.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/pages/login-register.css' %}">
<!-- END: Page CSS-->

<!-- BEGIN: Custom CSS-->
<!-- END: Custom CSS-->