    {% load menu %}

    {% get_company as company %}
    {% get_username as username %}
    {% get_user as user %}
    {% get_role as this_role %}
 
    <!-- API ADN -->
    {% get_obj_all as all %}
    {% get_active_clients as a_clients %}
    
    <!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true" style="background-color: #1c2636;">
        <div class="main-menu-content" {% if this_role == 2 %}style="max-height: 59%;" {% endif %}>
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" style="height: 100%; overflow-y:auto;">

                {% permission "8" as usersManagement %}
                {% permission "9" as departamentsManagement %}
                {% permission "20" as incidences %}
                {% permission "27" as salesFunner %}
                {% permission "32" as carrierIncidences %}
                {% permission "38" as booking %}
                {% permission "39" as timeControl %}

                <li class="navigation-header"><a href="#"><i class="feather icon-minus" data-toggle="tooltip" data-placement="right" data-original-title="Usuarios"></i><span class="menu-title">USUARIOS</span></a>
                    <ul>
                        {% if usersManagement %}
                            <li class="nav-item menu_father {% active 'users-management' %}"><a href="{% url 'users-management' %}"><i class="feather icon-users"></i><span class="menu-title" data-i18n="Users-management">Gestión de usuarios</span></a>
                            </li>
                        {% endif %}

                        {% if departamentsManagement %}
                            <li class="nav-item menu_father {% active 'departaments-management' %}"><a href="{% url 'departaments-management' %}"><i class="feather icon-users"></i><span class="menu-title" data-i18n="Departaments-management">Gestión de departamentos</span></a>
                            </li>
                        {% endif %}

                        <li class="nav-item menu_father {% active 'incidences-management' %}"><a href="{% url 'incidences-management' %}"><i class="feather icon-alert-octagon"></i><span class="menu-title" data-i18n="Incidences-management">Incidencias Informática</span></a>
                        </li>
                        {% if user != 84 %}
                            <li class="nav-item menu_father {% active 'check-in' %}"><a href="{% url 'check-in' %}"><i class="feather icon-watch"></i><span class="menu-title" data-i18n="Check-in">Mis fichajes</span></a>
                            </li>
                        {% endif %}
                        {% if timeControl or user == 51 or user == 59 and user != 60 %}
                            <li class="nav-item menu_father {% active 'check-in-control' %}"><a href="{% url 'check-in-control' %}"><i class="feather icon-clock"></i><span class="menu-title" data-i18n="check-in-control">Control Horario</span></a>
                            </li>
                        {% endif %}
                        {% if user != 84 %}
                            <li class="nav-item menu_father {% active 'vacations-management' %}"><a href="{% url 'vacations-management' %}"><i class="feather icon-calendar"></i><span class="menu-title" data-i18n="Vacations management">Gestionar Ausencias</span></a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
                <!-- COMPANY: ESMOVIL -->
            </ul>

            <input type="hidden" class="this_role" value="{{this_role}}">
        </div>
    </div>
    <!-- END: Main Menu-->