{% load static %}

{% block css %}

    {% include 'general/css/cssCalendar.html' %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

{% endblock %}
{% load nav %}
{% loadCompanies as companiesList%}
{% csrf_token %}

{% loadCompanies as companiesList %}
{% getCa as ca %}
{% getCompanyUserId as cuid %}
{% getDepartament as departaments %}
<!-- BEGIN: Header-->
    <nav class="header-navbar navbar-expand-lg navbar navbar-with-menu fixed-top navbar-semi-dark navbar-shadow">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-lg-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="feather icon-menu font-large-1"></i></a></li>
                    <li class="nav-item mr-auto">
                        {% if ca.user_id == 64 or ca.user_id == 25 %}
                            <select class="form-control switchCompany" id="switchCompany" style="margin-top:10px;">
                                {{ companiesList | safe }}
                            </select>
                        {% else %}
                            <select class="form-control switchCompany" id="switchCompany" style="margin-top:10px;">
                                <option value="1">Proyecto Angel</option>
                            </select>
                        {% endif %}    
                    </li>
                    <li class="nav-item d-none d-lg-block nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="toggle-icon feather icon-toggle-right font-medium-3 white" data-ticon="feather.icon-toggle-right"></i></a></li>
                    <li class="nav-item d-lg-none"><a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a></li>
                </ul>
            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                    </ul>
                    <ul class="nav navbar-nav float-right" style="width:99%;">
                        {% if ca.user_id != 84 %}
                            <div style="margin-top:23px;">
                                <div class="green-point"></div>
                                <h4 class="check-in-time" style="background-color:white;" data-toggle="tooltip" data-placement="bottom" data-html="true" title=""></h4>
                            </div>
                            <div class="check-in-background"></div>
                            <div class="check-in-button">
                                <h3 class="check-in-text">Entrada</h3>
                            </div>
                        {% endif %}
                        
                        <li class="dropdown dropdown-notification nav-item" style="margin:auto; margin-right:0;">
                            
                        </li>

                        <li class="dropdown dropdown-user nav-item"><a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                                <div class="avatar avatar-online"><img src="{% static 'images/portrait/small/' %}{{request.user.avatar}}" alt="avatar"><i></i></div><span class="user-name">{{request.user.first_name}} {{request.user.last_name}}</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="/users-management/{{ cuid }}"><i class="feather icon-user"></i> Mi perfil</a>
                                {% if ca.user_id != 84 %}
                                    <a class="dropdown-item nav-link nav-link-incidence-plus nav-incidence-plus prof-modal-trigger" data-toggle="modal" data-target="#IncidenceModal" href="#"><i class="feather icon-alert-octagon"></i> Incidencia Informática</a>
                                {% endif %}

                                <div class="dropdown-divider"></div><a class="dropdown-item" href="{% url 'logout' %}"><i class="feather icon-power"></i> Cerrar Sesión</a>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- Modal para las incidencias -->
    <div class="modal end fade" id="IncidenceModal" tabindex="-1" role="dialog" aria-labelledby="IncidenceModal" aria-hidden="true" style="height:100vh; overflow: hidden;margin-top:0;padding-top:0;border-radius: 0px !important;">
        <div class="modal-dialog" role="document" style="height:100vh; overflow: hidden;margin-top:0;padding-top:0;border-radius: 0px !important;float:right;width:1000px;">
            <div class="modal-content" style="height:100vh; overflow: hidden;margin-top:0;padding-top:0;border-radius: 0px !important;">
                <section class="contact-form" style="height: 100%; margin: 0%;">
                    <form method="POST" id="form-incidences" style="height: 100%;">
                        {% csrf_token %}
                        <!-- Modal Header -->
                        <div class="card" style="height: 100%; background-color: #EDEFF3">
                            <div class="card-content">
                                <div class="row modal-header" style="padding: 25px 25px 10px 25px">
                                    <div class="col-12">
                                        <div class="media">
                                            <div class="media-body pt-25">
                                                <h2 class="media-heading"><span class="users-view-name prof-modal-head-name"></span><span class="text-muted font-medium-1 prof-modal-head-mail"></span><span class="users-view-username text-muted font-medium-1 "></span></h2>
                                                <span class="prof-modal-head-cod" style="margin-left:28%; font-size:20px;">Añadir una Incidencia</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>   
                                <!-- Modal Body -->
                                <div class="modal-body">
                                    <div class="card-body" style="padding-bottom:10px; padding-top:10px;">
                                        <input type="hidden" class="form-control inc-id" name="user_id" value="{{ user.id }}">
                                        <input type="hidden" class="form-control inc-company_id" name="company_id" value="{{ ca.company_id }}">
                                        <input type="hidden" class="form-control inc-source_departament" name="departament_id" value="{{ ca.departament_id }}" id="incidences_source_departament_info">
                                        <input type="hidden" class="form-control inc-info-id">
                                        <input type="hidden" class="form-control inc-avatar" value="{{request.user.avatar}}">
                                        {% if ca.departament_id == 2 %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h5 class="" style="font-size:20px;">Departamento</h5>
                                                    <select class="form-control inc-departament" style="" autocomplete="off">
                                                        {% for departament in departaments %}
                                                            <option value="{{departament.id}}" {% if departament.id == user_ca.departament_id %} selected="selected" {% endif %}>{{ departament.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="row" style="">
                                            <div class="col-md-12" style="">
                                                <h5 class="" style="font-size:20px; margin-top: 4%;">Titulo</h5>
                                                <input type="text" id="incidences_issue" class="border_bottom form-control inc-issue" name="issue" style="border-radius: 5px; border: solid 1px #e2e3e4" placeholder="Sobre que es la incidencia" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5 class="" style="font-size:20px; margin-top: 4%;">Prioridad</h5>
                                                <select class="form-control inc-priority" style="" id="incidences_priority" autocomplete="off">
                                                    <option value="0">Baja</option>
                                                    <option value="1">Media</option>
                                                    <option value="2">Alta</option>
                                                </select>
                                            <div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5 class="" style="font-size:20px; margin-top: 4%;">Incidencia</h5>
                                                <textarea class="border_bottom form-control inc-description" name="description" id="incidences_description" cols="30" rows="10" style="border-radius: 5px; border: solid 1px #e2e3e4; min-height:40px; max-height:460px;" placeholder="Explica detalládamente la incidencia" autocomplete="off"></textarea>
                                            </div>
                                        </div>
                                        <div class="row" style="">
                                            <div class="col-md-12">
                                            <h5 class="" style="font-size:20px; margin-top: 4%;">Imágenes</h5>
                                                <input type="file" class="incidencesimg" id="incidences-img" multiple>
                                            </div>
                                        </div>
                                        <div class="row justify-content-md-center">
                                            <button type="button" class="btn btn-primary saveIncidences" style="border-radius: 5px; margin-top: 5%;">
                                                <span class="d-none d-lg-block" data-i18n="Save">Poner Incidencia</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="modal-footer">
                            
                        </div> -->
                    </form>
                </section>
            </div>
        </div>
    </div>
    <!-- END: Header-->

{% block js %}

{% endblock %}
