<!DOCTYPE html>
<html>
<head>
	<title>Nueva incidencia</title>
</head>
<body>
	<h3>Muy buenas equipo!</h3>
	<p>{{username}} ha puesto una nueva incidencia:</p>

    <h3>Título</h3>
	<p>{{issue}}</p>
	<h3>Descripción</h3>
	<p>{{description}}</p>
    <br>

	<div>
		<p style="font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; font-size: 11px; color: gray; text-align: justify"><strong>Advertencia:</strong> Este mensaje y cualquier anexo se dirigen exclusivamente a su destinatario y contiene información CONFIDENCIAL sometida al secreto profesional. Si no es el destinatario final de este mensaje, le rogamos que nos lo comunique inmediatamente por esta misma vía y proceda a su destrucción. Queda notificado que su uso, distribución, impresión, copia y difusión por cualquier medio está tipificada como delito en el artículo 197 s.s. y 278 del vigente Código Penal.
		</p>
	</div>
</body>
</html>