<!DOCTYPE html>
<html>
<head>
	<title>Incidencia Resuelta</title>
</head>
<body>
	<h3>Hola {{username}}:</h3>
	<p>La siguiente incidencia ha sido resuelta:</p>

	<p>Incidencia número: {{number}}</p>
	<p>Título de la incidencia: {{issue}}</p>
	<p>Descripción de la incidencia: {{description}}</p>

	<h3>Comentario de informática:</h3>
	<p>{{comm}}</p>
	<div>
		<p style="font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; font-size: 11px; color: gray; text-align: justify"><strong>Advertencia:</strong> Este mensaje y cualquier anexo se dirigen exclusivamente a su destinatario y contiene información CONFIDENCIAL sometida al secreto profesional. Si no es el destinatario final de este mensaje, le rogamos que nos lo comunique inmediatamente por esta misma vía y proceda a su destrucción. Queda notificado que su uso, distribución, impresión, copia y difusión por cualquier medio está tipificada como delito en el artículo 197 s.s. y 278 del vigente Código Penal.
		</p>
	</div>
</body>
</html>