<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

<div style="width:100%; background:#eee; position:relative; font-family:sans-serif; padding-bottom:40px; padding-top:40px">
	
	<div style="position:relative; margin:auto; width:600px; background:white; text-align: center; padding:20px">
		
		<img style="padding:20px; width:8%" src="">

		<h3 style="font-weight:100; color:#999">INVITACIÓN DE DE USUARIO A {{ company_name }}</h3>

		<hr style="border:1px solid #ccc; width:80%">

		<h4 style="font-weight:100; color:#999; padding:0 20px">Para acceder a G como usuario de {{ company_name }} debe completar su perfil.</h4>

		<a href="{{ verification_url }}" target="_blank" style="text-decoration:none">

		<div style="line-height:60px; margin:auto; background:#0aa; width:60%; color:white">Completar mi perfil.</div>

		</a>

		<br>

		<hr style="border:1px solid #ccc; width:80%">

		<h5 style="font-weight:100; color:#999">Si no se inscribió en esta cuenta, puede ignorar este correo electrónico y la cuenta se eliminará.</h5>
		
	</div>

</div>
	
</body>
</html>