{% extends 'general/layout.html' %}
{% load static %}
{% load filters %}

{% block titlePage %}
Error404
{% endblock %}

{% block css %}

    {% comment %} {% include '404/css/css404.html' %} {% endcomment %}

{% endblock %}

{% block body %}
    <body class="vertical-layout vertical-menu-modern 2-columns fixed-navbar" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">
{% endblock %}

{% block appContent %}
<style>
{% include '404/css/css404style.html' %}
</style> 

<!-- BEGIN: Content-->
        <div class="error-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="error-text">
                            <h1 class="error">404 Error</h1>
                            <div class="img-div">
                                <img height='400' width='400' src="/dashboard/staticfiles/images/mantenimiento/404notfound.png">
                            </div>
                            <h4>¡Esta página no se ha podido encontrar!</h4>
                            <p2>Lo siento, parece que la página a la que intentas acceder no existe, se le ha cambiado el nombre o se ha eliminado.</p2>
                            <a href="{% url 'inicio' %}" class="btn btn-primary btn-round">Volver a página principal</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
<!-- END: Content--> 

{% endblock %}

{% block js %}

    {% include '404/js/js404.html' %}

{% endblock %}