input.border_bottom {
    border: 1px solid #ffffff;
}

input.border_bottom:focus {
    border-color: #ffffff;
    border-bottom: 4px solid #2CC185;
    transition: border-width 0.1s;
}

textarea.border_bottom {
    border: 1px solid #ffffff;
}

textarea.border_bottom:focus {
    outline: none;
    outline-offset: 0;
    border-bottom: 4px solid #2CC185;
    transition: border-width 0.1s;
}

.saveEvent, .saveHolidays, .saveTask, .saveReminder, .saveIncidence, .updateIncidence, .saveComment {
    background-color: #F9F9F9;
}

.saveEvent:hover, .saveHolidays:hover, .saveTask:hover, .saveReminder:hover, .saveIncidence:hover, .updateIncidence:hover, .saveComment:hover {
    background-color: #2CC185;
    color: black;
}

.clue {
    background-color: #edeff5;
    border-radius: 5px;
    margin-top: 7px;
    font-size: 13px;
}

.clue_event {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-left: 12px;
    margin-top: -10px;
    background-color: #58D888;
}

.clue_holidays {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-left: 12px;
    margin-top: -10px;
    background-color: #89D8F0;
}

.clue_task {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-left: 12px;
    margin-top: -10px;
    background-color: #F03323;
}

.clue_reminder {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-left: 12px;
    margin-top: -10px;
    background-color: #F0F023;
}