{% extends 'general/layout.html' %}

{% load static %}

{% block titlePage %}
Usuarios
{% endblock %}

{% block css %}

    {% include 'invitations/css/cssInvitations.html' %}

{% endblock %}

{% block body %}
    <body class="vertical-layout vertical-menu-modern 2-columns app-contacts fixed-navbar" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">
{% endblock %}

{% block appContent %}

{% csrf_token %}

    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-body">
                <!-- TABLA INVITACIONES -->
                <section class="row all-contacts">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-head">
                                <div class="card-header">
                                    <h4 class="card-title" data-i18n="Departaments-Management">Gestión de invitaciones</h4>
                                    <div class="heading-elements mt-0">                                                                      
                                            <span class="dropdown">
                                                <button id="btnSearchDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-warning dropdown-menu-right dropdown-toggle btn-md">
                                                    <i class="feather icon-download-cloud white"></i></button>
                                                <span aria-labelledby="btnSearchDrop1" class="dropdown-menu dropdown-menu-right mt-1">
                                                    <a href="#" class="dropdown-item" data-i18n="Import"><i class="feather icon-upload"></i> Importar</a>
                                                    <a href="#" class="dropdown-item" data-i18n="Export"><i class="feather icon-download"></i> Exportar</a>
                                                    <a href="#" class="dropdown-item" data-i18n="Find-Duplicate"><i class="feather icon-shuffle"></i>Buscar duplicados</a>
                                                </span>
                                            </span>
                                            <button class="btn btn-default btn-sm"><i class="feather icon-settings white"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <!-- Task List table -->
                                        <div class="table-responsive">
                                            <table id="departaments-table" class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle text-center">
                                                <thead>
                                                    <tr>
                                                        <th><input type="checkbox" class="input-chk" id="check-all" onclick="toggle();"></th>
                                                        <th data-i18n="Code">Nº</th>
                                                        <th data-i18n="Email">Email</th>
                                                        <th data-i18n="Departament">Departamento</th>
                                                        <th data-i18n="Profile">Perfil</th>
                                                        <th data-i18n="Rol">Rol</th>
                                                        <th data-i18n="Actions"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for invitation in invitations %}
                                                        <tr>
                                                            <td>
                                                                <input type="checkbox" class="input-chk check">
                                                            </td>
                                                            <td class="text-center">
                                                                <a class="id index-reference">{{ forloop.counter }}</a>
                                                            </td>
                                                            <td>
                                                                <p>{{invitation.email}}</p>
                                                            </td>
                                                            <td class="text-center">
                                                                <p>{{invitation.n_d}}</p>
                                                            </td>
                                                            <td class="text-center">
                                                                <p>{{invitation.n_p}}</p>
                                                            </td>   
                                                            <td class="text-center">
                                                                <p>{{invitation.n_r}}</p>
                                                            </td>  
                                                            <td>
                                                                <a class="danger delete-invitation mr-1" invitation-id="{{ invitation.id }}"><i class="fa fa-trash"></i></a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>
                    <!-- TABLA INVITACIONES -->
            </div>
        </div>
    </div>
    <!-- END: Content-->

{% endblock %}

{% block js %}

    {% include 'invitations/js/jsInvitations.html' %}

{% endblock %}
